body {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #dee1d8;
  }
  h1 {
    font-size: 4em;
    color: #57757d;
    font-family: "Merriweather";
    border: 1px; 
    text-align: center;
  }
   
    h2 {
        font-size: 2em;
        color: #364c53;
        font-family: "Merriweather";
        border: 1px;
        margin: auto; 
        text-align: left;
      }


    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
        width: 90%;
        max-width: 1000px;
        margin: auto;
    }
    
    .gallery img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
    }
    
    .gallery img:hover {
        transform: scale(1.05);
    }
    
  
  .pull-quote blockquote {
    margin: 10px;
    padding: 10px;
    color: #067593;
    } 
  
  #byline {
    font-size: 1.1em;
  }
  
  p {
    font-size: 1.3em;
    line-height: 1.3em;
    padding-bottom: 10px;
  }
  .img-container {
    width: 20%;
    border: 1px solid #000;
    text-align: right;
  }
  img {
    margin: auto;
    display: block;
  }
  .cutline {
    font-size: 10px;
  }
  #contact {
    border: 1px solid black;
    padding: 10px;
    font-style: italic;
    text-align: center;
  }
  /*desktop*/
  #content {
    width: 50%;
    margin: auto;
    line-height: 1.5em;
    font-size: 1.5em;
  }

 
  #nav-bar {
    display: flex;
    flex-direction: row;
    font-family: 'Merriweather'
  }

  .nav-button {
    margin: auto;
    text-align: left;
  }
  .nav-button a {
    color: rgb(84, 86, 90);
    text-decoration: none;
    background-color:
  }

  /*phone*/
  @media (orientation: portrait) {
    #content {
      width: 100%
    }
  }
 